body {
  background-image: url(../images/white-logo.png);
  background-size: cover;
  background-color: #f6f6f6;
  height: 1500px;
}

tr {
  background-color: #ffffff;
}

#jumbotron {
  height: 375px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #f26c23;
  margin: 0px;
}

#logo {
  height: 300px;
  margin: -30px 0px 0px 0px;

}

a.nav-link {
  color: #a3a3a3;
}

#nav {
  color: #ffffff;
}

.panel-heading {
  margin-top: 50px;
  padding: 10px 0px 10px 10px;
  background-color: #f26C23;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #ffffff;
}

#resources {
  width: 400px;
}

#teamresourcetitle, #teamnewstitle {
  background-color: #42454a;
  color: #ffffff;
}

#news {
  width: 400px;
  margin-top: 20px;
}

#news-text-area {
  width: 400px;
}


iframe {
  margin-top: 50px;
}

.hover-outline:hover {
  outline: 5px solid #f26C23;
  outline-offset: 5px;
  border-radius: 5px;
}

.btn {
  background-color: #3a489c;
  color: white;
}
.modal-header, .modal-footer {
  background-color: #d2d2d2;
}
.modal-body {
  background-image: url(../images/white-logo.png);
  background-color: #f6f6f6;

}
